#vid {
	width: 640;
	height: 480;
}

button {
	background: rgb(255, 228, 196);
	border-radius: 5px;
	border: 0;
	font-size: 24px;
	font-weight: bold;
	width: 100px;
}

input {
	background: rgb(255, 228, 196);
	font-size: 24px;
	border: 0;
	padding-top: 3px;
}

body {
	background: rgb(255, 255, 240);
}